body {
	font-family: Arial, san-serif;
	margin: 0;
	overflow: auto;
	min-width: 900px;
	background-color: #f3f3f3;
}
header {
	width: 100%;
	height: 124px;
	position: fixed;
	top: 0;
	z-index: 1000000;
}
a {
	text-decoration: none;
}
.header {
	display: flex;
	position: relative;
	flex-direction: row;
	background-color: #FCFCFC;
	align-items: center;
	justify-content: center;
	height: 70px;
	width: 100%;
	margin: 0px;
}.header .icon-header {
	position: relative;
	margin-right: 100px;
	margin-left: -5%; 
}
.icon-header span {
	position: absolute;
	top:15px;
	margin: 5px;
	color: #808184;
	height: 100%
}
.header .zing_icon {
	width: 70px;
	height: 100%;
	background-color: #FCFCFC;
	object-position: center;
	object-fit: cover;
	opacity: 0.5;
}
.header .seach_header {
   display: flex;
   position: relative;
   padding: 0px 10px;
   align-items: center;
   width: 540px;
   height: 40px;
   border: 1px solid #EDEDED;
   border-radius: 5px;
   background-color: #FFF;
   margin-right: 90px;
}
.header #input_search {
	display: inline-block;
	outline: none;
	margin-left: 8px;
	width: 100%;
	height: 70%;
	padding: 5px;
	border: none;
	font-size: 14px;
}
#scircle {
	font-size: 40px;
	color: #CED5E3;
	display: inline-block;
	margin-right: 10px;
}
.sign-in {
   position: absolute;
   top:25px;
   font-size: 14px;
   font-weight: 600;
   color: #5d5d66;
}
.agle-down {
	position: relative;
}
#agle {
	position: absolute;
	top:-10px;
	left: 80px;
}

nav {
	display:flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 54px;
	background-color: #f7f7f7;
}
.menu {
   display: flex;
   list-style: none;
   text-transform: uppercase;
   justify-content: center;
   align-items: center;
   padding: 0px;
}
.menu li > a {
	color: #A8a8b0;
	font-weight: 600;
	font-size: 14px;
}
.menu li {
	padding: 15px 15px;
	position: relative;
}
.menu li:hover {
	border-bottom: 2px solid #65509E;
}

.menu li:hover > a{
	color: #6e55b4;
}
.menu #vip {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 25px;
	padding: 0px;
	border-radius: 15px;
	border-bottom: none;
	background: rgb(49,41,171);
    background: linear-gradient(90deg, rgba(49,41,171,1) 0%, rgba(116,87,179,1) 0%, rgba(8,8,8,0.7511379551820728) 0%, rgba(8,8,8,1) 0%, rgba(71,20,147,1) 0%, rgba(65,8,148,1) 0%, rgba(169,70,218,1) 42%, rgba(163,54,209,1) 47%, rgba(169,62,207,1) 53%, rgba(163,68,196,1) 60%, rgba(200,8,235,1) 100%, rgba(219,214,214,0.2413340336134454) 100%, rgba(160,171,232,1) 100%);
}
#vip a {
	color: white;
	font-size: 14px;
	font-weight: 600;
}
#vip:hover a {
	opacity: 0.8;
}
.sub-menu-1 {
	padding: 0px;
	left: 0;
	position: absolute;
	margin-top:2px;
	top: 100%;
	width: 600px;
	display: none;
	box-shadow: 0px 0px 4px #AAA;
}
.table-1 {
	width: 100%;
	height:100%;
	font-size: 14px;
	background-color: #Fcfcfc;
	text-align: left;
	z-index: 100;
}
.table-1 td,th{
	padding: 10px 15px;
	width: 25%;
	height: 30%;
	font-size: 14px;
	color: #32323d;
}
.table-1 a {
	color: #32323D;
	text-transform: none;
}
td::last-chid {
	margin-bottom: 15px;
}
td:hover {
	background-color: #eee;
}
td:hover.null {
	background-color: transparent;
}
td:hover >a {
	color: #6e55b4;
}
.menu li:hover .sub-menu-1 {
   display: block;
}
.sub-menu-2 {
	position: absolute;
	padding: 0px;
	list-style: none;
	background-color: #FCFCFC;
	width: 150px;
	top: 100%;
	left: 0;
	margin: 3px;
	display: none;
	box-shadow: 0px 0px 4px #AAA;
}

.sub-menu-2 li:hover {
	background-color: #eee;
	border: none;
}
.sub-menu-2 li > a {
	color: #32323D;
	font-weight: 100;
	font-size: 14px;
	text-transform: none;

}
.drop-menu-2:hover .sub-menu-2 {
	display: block;
}

.wrapper {
	width: 1024px;
	margin: 124px auto 0px;
	background-color: #FCFCFC;
}
.content-1 .img {
	width: 100%;
	height: 340px;
	object-fit:  cover;
	object-position: 0px -10px;
}

.section-1 {
	display: flex;
	justify-content: space-between;
	margin: 30px 0px;
	font-size: 14px;
	font-weight: 100;
}
.cl {
	color: #FFF;
}
.arcicle-1 {
	margin: 30px 50px;
	font-size: 20px;
	font-weight: 600;
	border-bottom: 1px solid #BBB;
}

.album-square {
	display: inline-block;
	font-family: Arial, sans-serif;
	width: 210px;
	height: 210px;
	background-image: url("http://unsplash.it/210/210/?random");
	background-size: cover;
	background-position: center;
	align-items: center;
	font-size: 40px;
	border-radius: 3px;
	margin-bottom: 20px;
	transition: background-image 0.5s; 
}
.album-square .over-lay{
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	opacity: 0;
	top: 0;
	transition: all 0.5s; 
}
.album-square .over-lay img {
	transition: all 0.3s;
	transform: scale(0.5);
}
.album-square:hover .over-lay img {
	transform: scale(1);
}
.album-square:hover .over-lay{
	opacity: 1;

}
.album-square:hover {
	transform: scale(1.1);
}
.arcicle-1:last-child {
	border-bottom: none;
}
.content-3 {
	height: 400px;
	margin: 10px 0px ; 
	background-color: #362956;
	color: #FFF;
}
.charts {
	width: 650px;
	height: 100%;
	display: inline-block;

}

.charts .img {
	object-position: center;
	object-fit:cover ;
	width: 100%;
	height: 400px;

}

.weeky-item {
	display: flex;
	flex-direction:row;
	margin: 0px 0px;
	align-items: center;
	padding: 10px 0px;
	border-bottom: none;
	margin:5px 5px;
	color: #DDD;
}
.weeky-item .rank-item {
	font-size: 20px;
	padding: 0px 10px;
}
.weeky-item .info {
	margin-left: 5px; 
	padding-right: 8px;
	flex-grow: 1;
}
.weeky-item .song {
	font-size: 12px;
    color: #AAA;
}
.weeky-item .sing {
	font-size: 16px;
	margin-bottom: 6px;
}
.weeky-item .views {
	margin-right: 5px; 
	font-size: 14px;
}
.item-rank {
	float: right;
	margin-right: 10px;
	width: 360px;
	padding: 10px 0px;
}
.item-rank .album-square {
	width: 60px;
	height: 40px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin: auto;
	font-size: 18px;
}
.weeky-item:hover  {
	color: #000;
	background-color: #DDD;
	border-radius: 5px;
}
.weeky-item:hover .over-lay {
	opacity: 1.0;
}

#aaa {
	display: block;
    text-align: center;
}
.content-4 {
	margin: 20px 20px;
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.content-4 .content-4-1 {
	width: 230px;
	height: 60px;
    text-align: center;
    background: rgb(49,41,171);
    background: linear-gradient(90deg,
    rgba(49,41,171,1) 0%, rgba(8,8,8,0.7511379551820728) 0%, 
    rgba(8,8,8,1) 0%, rgba(114,118,196,1) 0%, 
    rgba(139,147,215,0.75) 100%, 
    rgba(137,145,214,0.6110819327731092) 100%, 
    rgba(136,144,213,1) 100%, 
    rgba(140,148,216,0.39539565826330536) 100%, 
    rgba(160,171,232,1) 100%, rgba(143,154,211,1) 100%, 
    rgba(169,62,207,1) 100%, rgba(163,54,209,1) 100%, 
    rgba(169,70,218,1) 100%, rgba(114,118,196,1) 100%, rgba(114,118,196,1) 100%, rgba(200,8,235,1) 100%,
    rgba(219,214,214,0.2413340336134454) 100%);
    border-radius: 3px;
    box-sizing: border-box;
}
.content-4-1 > a >div{
	padding-top: 8px; 
	text-align: center;
	line-height: 1.2;
}

.content-4 .d2 {
	background: rgb(49,41,171);
    background: linear-gradient(90deg, rgba(49,41,171,1) 0%, rgba(8,8,8,0.7511379551820728) 0%, 
	rgba(8,8,8,1) 0%, rgba(208,134,89,1) 0%, rgba(213,166,136,0.8547794117647058) 100%, 
	rgba(139,147,215,0.75) 100%, rgba(136,144,213,1) 100%, rgba(140,148,216,0.39539565826330536) 100%,
  	rgba(160,171,232,1) 100%, rgba(143,154,211,1) 100%, rgba(169,62,207,1) 100%, rgba(163,54,209,1) 100%,
    rgba(169,70,218,1) 100%, rgba(114,118,196,1) 100%,
    rgba(114,118,196,1) 100%, rgba(200,8,235,1) 100%, rgba(219,214,214,0.2413340336134454) 100%);
}

.content-4 .d3 {
	background: rgb(49,41,171);
    background: linear-gradient(90deg, rgba(49,41,171,1) 0%, 
    rgba(8,8,8,0.7511379551820728) 0%, rgba(8,8,8,1) 0%, rgba(93,158,117,1) 0%, 
    rgba(90,182,132,0.8155637254901961) 100%, rgba(139,147,215,0.75) 100%, rgba(136,144,213,1) 100%, 
    rgba(140,148,216,0.39539565826330536) 100%, rgba(160,171,232,1) 100%, rgba(143,154,211,1) 100%, rgba(169,62,207,1) 100%, 
    rgba(163,54,209,1) 100%, rgba(169,70,218,1) 100%, rgba(114,118,196,1) 100%,
    rgba(114,118,196,1) 100%, rgba(200,8,235,1) 100%, rgba(219,214,214,0.2413340336134454) 100%);
}
.content-4 .d4 {
	background: rgb(49,41,171);
    background: linear-gradient(90deg, rgba(49,41,171,1) 0%, rgba(8,8,8,0.7511379551820728) 0%, 
	rgba(8,8,8,1) 0%, rgba(210,122,119,1) 0%, rgba(213,154,138,0.8463760504201681) 100%, 
	rgba(139,147,215,0.75) 100%, rgba(136,144,213,1) 100%, rgba(140,148,216,0.39539565826330536) 100%,
	rgba(160,171,232,1) 100%, rgba(143,154,211,1) 100%, rgba(169,62,207,1) 100%,
	rgba(163,54,209,1) 100%, rgba(169,70,218,1) 100%, rgba(114,118,196,1) 100%, 
	rgba(114,118,196,1) 100%, rgba(200,8,235,1) 100%, rgba(219,214,214,0.2413340336134454) 100%);
}

.content-5 .album-square {
    width: 180px;
    height: 180px;
}
.content-5 .arcicle-1 {
	margin: 20px 20px;
}
.content-5 .section-1 {
	display: flex;
	justify-content: space-between;
}
.content-3::after {
	display: block;
	content: '';
	clear: both;
}


.content-6 {
	margin: 20px 20px;
	height: 350px;
}
.left {
	width: 45%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	float: left;
}
.content-6 ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.content-6 .album-square {
	width: 40px;
	height: 40px;
	font-size: 14px;
	margin: 5px 8px;
}
.content-6 .weeky-item {
	width: 470px;
	height: 50px;
	padding: 1px;
	align-items: center;
	margin:0px 0px 0px 0px; 
	color: #000;
	font-weight: 600;
}
.content-6   a:hover a {
	background-color: #DDD;
}
.right {
	float: right;
	border-left: 1px solid #BBB;
}
.content-6 .right ul {
    margin-left: 16px; 
}

.content-6 .select-item {
    display: flex;
    height: 52px;
    width: 72px;
    left: 400px;
    background-color: #DDd;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    display: none;
    cursor: pointer;
    border-radius: 3px;

}
.content-6 li {
	height: 52px;
	display: flex;
	margin-bottom: 5px;
	position: relative;
	border-radius: 3px;
}
.content-6 li:hover .select-item {
	display: flex;
}
.content-6 li:hover {
	background-color: #DDD;
}
.li1 {
	position: relative;
}
.select-item .si1 {
	margin-right: 10px;
}
.content-7 {
	margin: 10px 20px; 
}

.content-7 .arcicle-2 {
	margin: 16px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.arcicle-2 .item-1 {
	width: 190px;
	height: 105px;
	text-align: center;
	overflow: hidden;
	border-radius: 3px;
	
}
.arcicle-2 .item-1 .i1 a {
	color: #FFF;
	font-weight: 700;
	padding-top: 70px;
	display: block;
	opacity: 1;
	transition: all 0.3s;
}
.o1 {
	height: 100%;
	background: rgb(49,41,171);
background: linear-gradient(0deg, rgba(49,41,171,1) 0%, rgba(8,8,8,1) 0%, 
	rgba(19,18,18,0.9724264705882353) 0%, rgba(0,0,0,1) 0%, 
	rgba(93,84,84,0.4458158263305322) 52%, rgba(182,164,164,0.08167016806722693) 100%,
	 rgba(213,154,138,0.8463760504201681) 100%, rgba(139,147,215,0.75) 100%, 
	 rgba(136,144,213,1) 100%, rgba(140,148,216,0.39539565826330536) 100%, rgba(160,171,232,1) 100%, 
	 rgba(143,154,211,1) 100%, rgba(169,62,207,1) 100%, rgba(163,54,209,1) 100%,
 rgba(169,70,218,1) 100%, rgba(114,118,196,1) 100%, rgba(114,118,196,1) 100%, rgba(200,8,235,1) 100%);
border-radius: 3px;
}
.arcicle-2 .item-1 .i1 {
	background-size: cover;
	width: 100%;
	height: 100%;
	transition: background-image 0.3s;
	transform: scale(1);
}
.arcicle-2 .item-1 .i1:hover {
	transition: all 0.3s;
	transform: scale(1.2);
}
.arcicle-2 .item-1 a:hover{
   padding-top: 60px;
}
.bg1 {
	background-image: url("http://unsplash.it/300/300/?random");
}
.bg2 {
	background-image: url("http://unsplash.it/310/310/?random");
}
.bg3 {
	background-image: url("http://unsplash.it/320/320/?random");
}
.bg4 {
	background-image: url("http://unsplash.it/303/330/?random");
}
.bg5 {
	background-image: url("http://unsplash.it/340/340/?random");
}


.content-8 .album-square {
    width: 180px;
    height: 180px;
}
.content-8 .arcicle-1 {
	margin: 20px 20px;
}
.content-8 .section-1 {
	display: flex;
	justify-content: space-between;
}
.x2 {
	color: #AAA;
	margin-top: 10px;
}

.content-9 {
	margin: 10px 0px 10px 20px;
}
.content-9 .left {
	width: 564px;
	height: 345px;
	overflow: hidden;
}
.content-9 .over-lay-1 {
	width: 100%;
	height: 100%;
	background-image: url('http://unsplash.it/700/400/?random');
	border-radius: 3px;
	overflow: hidden;
	transform: scale(1);
	transition: background-image 0.3s

}
.content-9 .left .over-lay-1:hover {
	transition: all 0.3s;
	transform: scale(1.1);
}
.content-9 .left .over-lay-1:hover a{
}
.content-9 .left a {
	display: block;
	color: #FFF;
	padding: 280px 0px 20px 40px; 
}
.content-9 .right {
	border:none;
	margin-right: 20px;
	margin-bottom: 20px;
	font-size: 14px;
}
.content-9 .album-square {
	width: 190px;
	height: 110px;
	margin-bottom: 10px;
}
.content-9::after {
	content: '';
	clear: both;
	display: block;
}

.content-10 {
	margin: 10px 20px 10px 20px ;
}
.selector-1 {
	height: 185px;
	width: 100%;
	margin-right:23px ;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}
.s-song {
	width: 145px; 
	height: 145px;
	margin:0px 20px;
	border-radius: 50%; 
	overflow: hidden;
	background-color: rgba(0,0,0,0.9);
}
.s-song  img {
	width: 100%; 
	height: 100%x;
	opacity: 1;
	transform: scale(1);
	transition: all 0.3s;
	overflow: hidden;
}
.s-song img:hover {
	opacity: 0.6;
	transform: scale(1.2);
	transition: all 0.3s;


}
.selector-1 > div {
	display: flex;
	width: 310px;
	justify-content: flex-starts;
	align-items: center;
	background: rgb(49,41,171);
background: rgb(49,41,171);
background: radial-gradient(circle, rgba(49,41,171,1) 0%, rgba(8,8,8,1) 0%,
 rgba(19,18,18,0.9724264705882353) 0%, rgba(253,253,253,1) 0%, rgba(233,235,238,1) 52%, 
 rgba(182,164,164,0.08167016806722693) 100%, rgba(213,154,138,0.8463760504201681) 100%, rgba(139,147,215,0.75) 100%, rgba(136,144,213,1) 100%, rgba(140,148,216,0.39539565826330536) 100%, rgba(160,171,232,1) 100%, rgba(143,154,211,1) 100%, rgba(169,62,207,1) 100%, rgba(163,54,209,1) 100%, rgba(169,70,218,1) 100%,
 rgba(114,118,196,1) 100%, rgba(114,118,196,1) 100%, rgba(217,220,225,1) 100%);
	border-radius: 3px;
	border: 1px solid #DDD;
	box-shadow: 0px 0px 2px #BBB;
}
.content-10-1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px 0px;
}
.selector-1 span {
	font-size: 14px;
	display: block;
	font-weight: 600;
	background: rgb(49,41,171);
    background: linear-gradient(90deg, rgba(49,41,171,1) 0%, rgba(116,87,179,1) 0%, rgba(8,8,8,0.7511379551820728) 0%, rgba(8,8,8,1) 0%, rgba(71,20,147,1) 0%, rgba(65,8,148,1) 0%, rgba(169,70,218,1) 42%, rgba(163,54,209,1) 47%, rgba(169,62,207,1) 53%, rgba(163,68,196,1) 60%, rgba(200,8,235,1) 100%, rgba(219,214,214,0.2413340336134454) 100%, rgba(160,171,232,1) 100%);
    padding: 5px;
    border-radius: 5px;
    margin:0px 10px 0px 35px;  
}

.singles {
	font-size: 14px; 
	font-weight: 600;
	text-align: center;
	margin-top: 20px;
	color: #BBB;
}
.singles:hover {
	color: #6e55b4;
}
.content-11 {
	margin: 20px 20px;
 height: 70px;
}
.content-11 .btnlogin {
	width: 115px;
	height: 35px;
	background-color: #e9ee0e;
	color: #FFF;
	border: none;
	border-radius: 3px;
	margin-top: 5px;
	align-items: center;
	margin-left: 120px;
}
.content-11 .footer .gt {
	margin-top: 15px;
	font-size: 16px;
	font-weight: 600;
	color: #FFF;
	margin-left: 10px; 

}
.content-11 .footer {
	height: 70px;
	background: rgb(49,41,171);
background: linear-gradient(90deg, rgba(49,41,171,1) 0%, rgba(19,18,18,0.9724264705882353) 0%,
 rgba(67,51,114,1) 0%, rgba(95,72,142,0.7763480392156863) 100%, rgba(95,72,142,1) 100%, 
 rgba(182,164,164,0.08167016806722693) 100%, rgba(213,154,138,0.8463760504201681) 100%, 
 rgba(139,147,215,0.75) 100%, rgba(136,144,213,1) 100%, rgba(140,148,216,0.39539565826330536) 100%, 
 rgba(160,171,232,1) 100%, rgba(143,154,211,1) 100%, rgba(169,62,207,1) 100%, rgba(163,54,209,1) 100%, rgba(169,70,218,1) 100%,
 rgba(114,118,196,1) 100%, rgba(114,118,196,1) 100%, rgba(217,220,225,1) 100%); 
 justify-content: all;
 align-items: center;
 border-radius: 3px;


}
.content-11 .footer .dang-nhap{
	margin-top: 50px;
}
.b {
	height: 30px;
}
footer {
	height: 150px;
	width: 1024px;
	margin: -30px auto 0px;
    background-color: #FCFCFC;
}
.footer {
   display: flex;
   justify-content: center;
   text-align: justify;
   width: 100%;
   top: 100%;
   bottom: 0px;
}
.f-zing-icon {
	width: 40px;
	height: 40px;
}
.footer .gt {
	padding: 10px auto;
	font-size: 12px;
	height: 20px;
	margin: 45px 10px 5px 5px;
	color: #BBB;
}
.f-menu {
	margin-top: 10px; 
	display: flex;
	justify-content: center;
	align-items: center;
}
.f-menu >li {
	margin: 0px 10px; 
	color: #BBB;
}
.f-menu li a {
	color: #BBB;
	font-size: 12px;
}
.f-menu li:first-child {
	list-style: none;
}
.f-menu li:hover a {
	color: #6e55b4;
}
.copy {
	text-align: center;
	color: #BBB;
	margin-top: 20px; 
	font-size: 14px;
}
.dang-nhap {
	display: flex;
	margin-top: 30px;
}
#img1 {
	margin: 0px 30px;
}

.fixed-1 {
	position: fixed;
	bottom: 30px;
	width: 70px;
	align-items: center;
	text-align: center;
	height: 70px;
	right: 30px;
	font-size: 60px;
	background-color: #EEE;
	border:1px solid #BBB;
	box-shadow: 0px 0px 3px #BBB;
	color: #000;
}
